html {
    box-sizing: border-box;
}

:root {
    --yellow: #FFC700;
    --white: #FFFFFF;
    --blue: #0499DD;
    --black: #282828;
    --gray: #D4D4D4;
    --gray2: #EDEDED;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 428px;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

img,
svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    font-size: 96px;
}

h3 {
    font-size: 72px;
}

h4 {
    font-size: 64px;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--blue);
}

h6 {
    font-size: 14px;
}

.text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

@media (max-width: 810px) {
    h3 {
        font-size: 48px;
    }

    h2 {
        font-size: 96px;
    }

    h4 {
        font-size: 48px;
    }
}

@media (max-width: 440px) {
    h3 {
        font-size: 36px;
    }

    h2 {
        font-size: 72px;
    }
}

.container {
    /* Прибавляем padding в max-width (сделано) */
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 768px) {
    .container {
        max-width: 670px;
    }
}

@media (max-width: 428px) {
    .container {
        padding: 0 15px;
    }
}

.button {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}