.header {
    padding: 27px 0 250px 0;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.header__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 152px;
}

.header__nav-btn {
    display: none;
    line-height: 0;
    background-color: transparent;
    border: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 27px 0 320px 0;
    }

    .header__navigation {
        display: none;
    }

    .header__nav-btn {
        display: block;
    }
}

@media (max-width: 428px) {
    .header {
        padding: 27px 0 400px 0;
    }
}

.navigation__list {
    display: flex;
}

.navigation__list .navigation__item:not(:last-child) {
    margin-right: 20px;
}

.navigation__link:active,
.navigation__link_active {
    color: var(--yellow);
}

.hero {
    display: grid;
    grid-template-columns: 700px 30px;
    justify-content: space-between;
}

.hero__headings {
    position: relative;
    width: 723px;
}

.hero__headings h2 {
    font-weight: 900;
    line-height: 117px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    margin-top: -10px;
}

.hero__headings h3 {
    font-weight: 700;
    line-height: 88px;
    color: var(--white);
    text-transform: uppercase;
}

.hero__headings h4 {
    font-family: 'mr_KindlyJasmineG';
    font-weight: 400;
    line-height: 64px;
    color: var(--yellow);
    position: absolute;
    top: 25%;
    right: 5%;
}

.hero__soc {
    margin-top: 100px;
}

.hero__button {
    margin-top: 60px;
}

.hero__button__excursion {
    border-radius: 60px;
    padding: 16px 72px;
}

@media (max-width: 810px) {
    .hero__headings {
        max-width: 463px;
    }

    .hero__headings h3 {
        line-height: 59px;
    }

    .hero__headings h2 {
        line-height: 86px;
        margin-top: 12px;
    }

    .hero__headings h4 {
        line-height: 48px;
        top: 15%;
        right: 0%;
    }
}

@media (max-width: 768px) {
    .hero__button {
        margin-top: 100px;
    }

    .hero {
        grid-template-columns: 463px 30px;
    }
}

@media (max-width: 540px) {
    .hero {
        grid-template-columns: 460px;
    }

    .hero__soc {
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .hero>.hero__button {
        order: 1;
    }

    .hero>.hero__soc {
        order: 2;
    }
}

@media (max-width: 510px) {
    .hero {
        grid-template-columns: 400px;
    }
}

@media (max-width: 450px) {
    .hero {
        grid-template-columns: 380px;
    }

    .hero__headings {
        max-width: 323px;
    }

    .hero__headings h2 {
        line-height: 65px;
    }

    .hero__headings h4 {
        top: -17%;
        right: 0.5%;
    }
}

@media (max-width: 428px) {
    .hero__button {
        margin-top: 90px;
    }
}

.soc_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soc_list li:not(:last-child) {
    margin-bottom: 15px;
}

.aside {
    max-width: 100%;
    margin-bottom: 150px;
}

.aside__video_preview {
    display: flex;
    justify-content: flex-end;
    margin-top: -113px;
    margin-right: -125px;
    overflow-x: hidden;
}

.aside__video_preview img:first-child {
    margin-right: 20px;
}

.aside__img {
    width: 360px;
    height: 227px;
}

@media (max-width: 768px) {
    .aside__img {
        width: 295px;
        height: 187px;
    }
}

@media (max-width: 428px) {
    .aside__video_preview {
        margin-top: -85px;
        margin-right: -205px;
    }
}

.popular__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.popular__refer {
    text-decoration-line: underline;
    color: var(--black);
}

.popular__back_first {
    background-image: url(../img/item1.jpg);
}

.popular__back_second {
    background-image: url(../img/item2.jpg);
}

.popular__back_third {
    background-image: url(../img/item3.jpg);
}

.popular__back_fourth {
    background-image: url(../img/item4.jpg);
}

@media (max-width:428px) {
    .popular__refer {
        display: none;
    }
}

.item__header {
    color: var(--yellow);
    line-height: 17px;
    margin: 2px auto 10px auto;
}

.item__tag,
.item__description {
    color: var(--white);
}

.item__extras,
.item__extra {
    display: flex;
}

.item__description {
    margin: 20px auto;
}

.item__svg {
    margin-right: 5px;
}

.item__extra:first-child {
    margin-right: 13px;
}

.item__button__more {
    border-radius: 40px;
    padding: 12px 43px;
}

@media (max-width:768px) {
    .item__description {
        margin-bottom: 45px !important;
    }

    .item__button__more {
        font-size: 12px !important;
        line-height: 15px !important;
        border-radius: 40px;
        padding: 12px 43px;
    }
}

.about_us {
    margin: 820px auto 150px auto;
    background-image: url(../img/landscape.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
    background-color: inherit;
    position: relative;
    min-height: 750px;
}

@media(min-width:2090px) {
    .about_us {
        background-position: center;
    }
}

.about_us__container {
    display: flex;
    justify-content: flex-end;
}

.about_us__info {
    background: var(--gray2);
    border-radius: 10px;
    padding: 60px 75px 105px 85px;
    width: 542px;
    position: absolute;
    margin-top: 137px;
}

.about_us__header {
    margin-bottom: 40px;
}